<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BubbleSort.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>HeapSort.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>InsertionSort.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MaxSubarray.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>MergeSort.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>OrderStatisticSelection.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Queue2Stacks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>QueueTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>QuickSort.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>SelectionSort.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Stack2Queues.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>StackTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FB4C63FB1CFF9D76007AD880</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB4E642A1D0E28EF003898B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB565EDB1D0C8C53000659CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB75DD1D1CFD14DF004C11EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB75DD281CFD14F4004C11EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB75DD381CFD1B4E004C11EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB75DD431CFD200E004C11EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBA23B361D14B7EB002001C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBA23B431D176297002001C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBD7BF811D00F65300115347</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBDB84EF1D137B2F0061E6EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBDEB6601D288CA8005B17E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
